body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.navigation {
  text-align: center;
  background: black;
}

.navigation ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline;
}

ul.header {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 10px;
  text-decoration: none;
}

ul.header li a:hover {
  color: #44c5ee !important;
}

ul.header li a.logo {
  padding: 18px 15px;
}

.btn {
  background: #038dfe;
  color: white;
  border-radius: 30px;
  padding: 10px 30px !important;
  margin: 23px 0 !important;
  transition: all 0.2s;
}

.btn:hover {
  background: white;
  color: #038dfe !important;
  margin: 20px 0 !important;
}

.ASM {
  border-radius: 70%;
  width: 100px;
  /* margin-left: 92%;
    margin-top: 100px; */
}

.email {
  /* margin-left: 74%; */
  margin-top: 20px;
  font-size: 18px;
}

.r {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid rgb(202, 202, 202);
  padding: -1px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.r input {
  background: none;
  border: none;
  outline: none;
  /*  */
  /* width: 150px; */
  width: 210px;
}

.nav {
  margin-top: -50px;
}

.brd-right {
  border-right: solid 5px rgb(74, 76, 231);
}

.table-pad td {
  padding: 20px 20px;
}

.table-pad input {
  margin-left: 100px;
}

.line {
  width: 100px;
  border: solid 1px#707070;
  margin-left: 80px;
  margin-top: 20px;
}

.border {
  /* margin-left: 400px; */
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.border input {
  margin-bottom: 50px;
}

.border2 {
  margin-left: 800px;
  margin-top: -500px;
}

.check_box {
  margin-right: 200px;
}

.all_border {
  display: flex;
  flex-direction: row;
  width: 1020px;
  border-collapse: separate;
  border-spacing: 30px;
  /* float: right; */
  margin-top: 10px;
}

.CHECK1 {
  margin-left: 200px;
}

.tablesov {
  width: 100%;
  margin-left: 1000px;
  margin-top: 20px;
}

.sauv {
  color: white;
  background-color: #008aff;
  border-radius: 20px;
  height: 40px;
  width: 500px;
  border: none;
  box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
  margin-right: -130px;
}

.sauvgar {
  color: white;
  font-size: large;
  background-color: #008aff;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  border: none;

  /* margin-right: -200px; */
}

.table3 {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.btnInscription3 {
  color: white;
  background-color: #008aff;
  border-radius: 20px;
  height: 40px;
  width: 500px;
  border: none;
  box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
  margin-right: -130px;
}

.insc {
  text-align: center;
  font-family: montserrat;
  font-size: 30px;
}

footer {
  width: 100%;
  height: 110px;
  background-color: black;
  margin-top: 100px;
}

.foo {
  width: 95%;
  height: 75%;

  margin: auto;
  position: relative;
  top: 10px;
  display: flex;
}

.foo1,
.foo2,
.foo3 {
  display: inline-block;
  flex: 1;
}

.foo1 p,
.foo2 p,
.foo3 p {
  color: #666666;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.7;
  font-weight: 500;
}

.foo1 i,
.foo2 i,
.foo3 i {
  color: white;
  font-size: 20px;
}

.foo2 {
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.foo3 {
  text-align: right;
  padding-right: 15px;
  padding-left: 15px;
}

.icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #000;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.Inscris {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 120px;
}

.centerPformobilever {
  font-size: 14px;
  font-weight: bold;
  /* padding: 10px 200px; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  border: solid 1px #038dfe;
  border-radius: 40px;
  background-color: #038dfe;
  /* margin-left: 220px; */
  margin: 20px;

  width: 440px;
}

.centerh1formobilever2 {
  margin: 20px;
}
@media screen and (max-width: 1000px) {
  .Inscris {
    /* display: block; */
    flex-direction: column;
    margin-top: 50px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  ul.header li.right,
  ul.header li {
    float: none;
  }

  /* .ASM {
    margin-left: 440px;
  } */

  /* .email {
     margin-left: 220px;
  }  */

  .r {
    margin-left: 20px;
  }

  /* .Inscris {
    display: block;
    margin-top: 50px;
    margin-left: 10px;
  } */

  .centerPformobilever {
    margin-left: 10px;
  }

  .centerh1formobilever2 {
    text-align: center;
  }

  footer {
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 190px;
  }

  .foo {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
  }

  .foo1 {
    margin-left: 170px;
    margin-top: -25px;
  }

  .foo3 {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 20px;
  }

  .copyright {
    margin-top: -20px;
    margin-right: -20px;
  }

  .icons {
    margin-right: 50px;
  }
}

/* nouveau css */
.comp_lev {
  display: flex;
  justify-content: center;
}
.level {
  display: flex;
  /* display: none; */
  width: 50%;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 45px;
  box-sizing: border-box;
  /* border-left: solid 3px #038dfe; */
}
.comps {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.levels_head {
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  width: 50%;
  padding-left: 50px;
  /* border-left: solid 3px #038dfe; */
  box-sizing: border-box;
}
.level_onright {
  display: flex;
  justify-content: space-between;
}
.onecheckbox {
  margin-top: 18.5px;
  margin-bottom: 18.5px;
  padding-left: 30px;
  padding-right: 30px;
}
.all_comps {
  width: 80%;
}
.all_levels {
  /* width: 45%; */
  /* width: 50%; */
}
.comp_title {
  width: 50%;
  border-right: solid 5px #038dfe;
  padding-right: 20px;
}
.level_name {
  display: none;
}
.comp_lev_head {
  display: flex;
  text-transform: uppercase;
}
.compétence {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 50%;
  font-size: 24px;
}

.profile_recherche {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  margin-top: 70px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_pic {
  width: fit-content;
}
.sauvgar_div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 1000px) {
  .levels_head {
    display: none;
  }
  .comps {
    flex-direction: column;
    margin-bottom: 25px;
    font-size: 18px;
  }
  .level {
    width: 100%;
    padding: 0;
    padding-left: 20px;
    border-left: solid 5px #038dfe;
  }
  .comp_title {
    width: 100%;
    border-right: none;
  }
  .level_name {
    display: inline;
    margin-right: 10px;
  }
  .profile_recherche {
    align-items: center;
  }
}
